.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
bin

*.code-workspace
todo.txt

copy-test-scripts.js
download-retina.js
build.yml
